*~
cache
proxy_backend.conf
ocsp_server.conf
apache-conf/required-modules.conf
authority/template
authority/client/uid
authority/tofu.db
__pycache__/
README.html

# generated X.509 data
x509.pem
x509-chain.pem
secret.key
crl.pem
softhsm2.db/
ocsp_index.txt
ocsp_index.txt.attr

# generated PGP data
pubring.kbx
*.gpg
*.pgp
private-keys-v1.d/
msva.gnupghome/

# lock files
*.lock
authority/lock

# test output
*.log
*.trs
logs/
outputs/

# test programs
test-*.bash
gen_ocsp_index
pgpcrc
gnutls_openpgp_support
.deps
.libs
