body {
    margin: 10%;
    font-family: sans-serif;
}
p {
    text-align: justify;
}
pre {
    background: #f5f5f5;
    border-radius: 4px;
    padding: 12px;
}
p code {
    background: #f5f5f5;
    border-radius: 4px;
    padding: 0.2em 0.4em;
    word-break: keep-all;
}
