name: Valgrind memcheck
on:
  pull_request:
  push:
    # don't run on packaging branches
    branches-ignore:
      - 'for-debian'
      - 'debian/**'
      - 'pristine-tar'
    paths:
      - '**'
      - '!doc/**'
      - '!**.md'

permissions:
  contents: read

jobs:
  debian-bullseye:
    runs-on: ubuntu-latest
    container: debian:bullseye
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update
          apt-get -y install python3-yaml apache2-bin apache2-dev curl gnutls-bin libapr1-dev libgnutls28-dev openssl pkg-config procps iproute2 softhsm2 valgrind
      - name: build mod_gnutls and run tests with Valgrind
        uses: ./.github/build-action/
        with:
          configure-options: --enable-valgrind-test
          artifact-prefix: valgrind
